.Headers {
  
   background: #495579;
   max-height: 100%;
   
}

.Headers__infomations {
    display: flex;
    min-width: 1200px;
    margin-left: 130px;
    column-gap: 5px;
    padding-top: 20px;
    color: #fff;
    align-items: center;
}

.Headers__group {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.Headers__item1, .Headers__item2, .Headers__item3, .Headers__item4 {
    font-size: 16px;
    color: #fff;
}

.Logos {
    font-size: 18px;
    color: #fff;
}

.Headers__containers {
    min-width: 1200px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Headers__img {
    /* width: 250px; */
    height: 80px;
    object-fit: contain;
}

.Headers__search {
    width: 840px;
    display: flex;
}

.Headers__forms{
    display: flex;
    width: 100%;
    position: relative;
    padding: 6px;
}

.Headers__input{    
    width: 100%;
    outline: none;
    padding: 10px 10px 10px 15px;
}

.Headers__input::placeholder {
    font-size: 15px;
}

.Headers-btn__search {
    padding: 6px;
    background-color: lightblue;
    border: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    outline: none;
    width: 60px;
    top: 11px;
}

.Headers__auth {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.Headers__signUp{
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.Headers__signIn{
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;

}

.Headers__cart {
    margin-left: 10px;
    color:  #fff;
}

.Headers-product__add {
    display: flex;
    color: #495579;
    align-items: center;
    font-size: 15px;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 90px;
}


.Products__index {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Products-img__index{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.Prod__imgs {
    width: 50px;
    height: 50px;
}

.description {
    font-size: 15px;
    color: #000;
}

.Info{
    display: flex;
    
}

.Headers_nofi {
    padding-top: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    column-gap: 25px;
}

.fa-solid{
    margin-right: 8px;
}


